<div class="card mb-2 bg-white" *ngIf="note">
    <h5 class="card-header">{{note.title}}</h5>
    <div class="card-body bg-white">
      <p class="card-text">{{note.content}}</p>
      <a href="#" class="btn btn-primary mr-3" (click)='edit=!edit'>edit note</a> <a (click)=delete(note.id) class="btn btn-primary">delete note</a>
      <div class="form-group" *ngIf="edit">
        <form [formGroup]="form" (submit)="put(note.id)">
          <input type="text" class="form-control" formControlName="title" [ngModel]="note.title" />
          <textarea class="form-control" formControlName="content" [ngModel]="note.content"   rows="3"></textarea>


          <input type="submit" value="Send"  class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>